USE [master]
GO
/****** Object:  Database [AcademiaDB]    Script Date: 04/11/2021 10:22:52 ******/
CREATE DATABASE [AcademiaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcademiaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AcademiaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcademiaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AcademiaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcademiaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcademiaDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlumnoInscripcion]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnoInscripcion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Condicion] [int] NOT NULL,
	[Nota] [int] NULL,
	[AlumnoId] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AlumnoInscripcion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comision]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comision](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[AnioEspecialidad] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Comision] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AnioCalendario] [int] NOT NULL,
	[Cupo] [int] NOT NULL,
	[MateriaId] [int] NOT NULL,
	[ComisionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Curso] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocenteCurso]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocenteCurso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
	[DocenteId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DocenteCurso] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Especialidad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[HorasSemanales] [int] NOT NULL,
	[HorasTotales] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Materia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Legajo] [int] NULL,
	[EMail] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[Tipo] [int] NOT NULL,
	[PlanId] [int] NULL,
 CONSTRAINT [PK_dbo.Persona] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plan]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[EspecialidadId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Plan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 04/11/2021 10:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](max) NOT NULL,
	[Clave] [nvarchar](max) NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[PersonaId] [int] NULL,
 CONSTRAINT [PK_dbo.Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AlumnoInscripcion] ON 

INSERT [dbo].[AlumnoInscripcion] ([ID], [Condicion], [Nota], [AlumnoId], [CursoId]) VALUES (1, 2, 7, 5, 1)
INSERT [dbo].[AlumnoInscripcion] ([ID], [Condicion], [Nota], [AlumnoId], [CursoId]) VALUES (3, 2, 7, 5, 5)
INSERT [dbo].[AlumnoInscripcion] ([ID], [Condicion], [Nota], [AlumnoId], [CursoId]) VALUES (4, 2, 6, 5, 7)
SET IDENTITY_INSERT [dbo].[AlumnoInscripcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Comision] ON 

INSERT [dbo].[Comision] ([ID], [Descripcion], [AnioEspecialidad], [PlanId]) VALUES (1, N'104', 1, 2)
INSERT [dbo].[Comision] ([ID], [Descripcion], [AnioEspecialidad], [PlanId]) VALUES (2, N'201', 2, 2)
INSERT [dbo].[Comision] ([ID], [Descripcion], [AnioEspecialidad], [PlanId]) VALUES (3, N'305', 3, 2)
SET IDENTITY_INSERT [dbo].[Comision] OFF
GO
SET IDENTITY_INSERT [dbo].[Curso] ON 

INSERT [dbo].[Curso] ([ID], [AnioCalendario], [Cupo], [MateriaId], [ComisionId]) VALUES (1, 2021, 40, 1, 1)
INSERT [dbo].[Curso] ([ID], [AnioCalendario], [Cupo], [MateriaId], [ComisionId]) VALUES (2, 2021, 40, 2, 3)
INSERT [dbo].[Curso] ([ID], [AnioCalendario], [Cupo], [MateriaId], [ComisionId]) VALUES (3, 2021, 45, 5, 2)
SET IDENTITY_INSERT [dbo].[Curso] OFF
GO
SET IDENTITY_INSERT [dbo].[DocenteCurso] ON 

INSERT [dbo].[DocenteCurso] ([ID], [Cargo], [CursoId], [DocenteId]) VALUES (1, 1, 2, 2)
INSERT [dbo].[DocenteCurso] ([ID], [Cargo], [CursoId], [DocenteId]) VALUES (2, 0, 1, 2)
INSERT [dbo].[DocenteCurso] ([ID], [Cargo], [CursoId], [DocenteId]) VALUES (3, 2, 6, 2)
SET IDENTITY_INSERT [dbo].[DocenteCurso] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([ID], [Descripcion]) VALUES (1, N'Ingeniería en Sistemas de Información')
INSERT [dbo].[Especialidad] ([ID], [Descripcion]) VALUES (2, N'Ingeniería Eléctrica')
INSERT [dbo].[Especialidad] ([ID], [Descripcion]) VALUES (3, N'Ingeniería Civil')
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([ID], [Descripcion], [HorasSemanales], [HorasTotales], [PlanId]) VALUES (1, N'Algoritmos y Estructura de Datos', 6, 165, 1)
INSERT [dbo].[Materia] ([ID], [Descripcion], [HorasSemanales], [HorasTotales], [PlanId]) VALUES (2, N'Software del Desarrolo IDE', 7, 180, 2)
INSERT [dbo].[Materia] ([ID], [Descripcion], [HorasSemanales], [HorasTotales], [PlanId]) VALUES (3, N'Matemática Discreta', 5, 150, 1)
SET IDENTITY_INSERT [dbo].[Materia] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([ID], [Nombre], [Apellido], [Legajo], [EMail], [Direccion], [Telefono], [FechaNacimiento], [Tipo], [PlanId]) VALUES (1, N'Admin', N'Admin', NULL, N'admin@gmail.com', N'Zeballos', N'000-0000', CAST(N'2000-01-01T00:00:00.000' AS DateTime), 0, NULL)
INSERT [dbo].[Persona] ([ID], [Nombre], [Apellido], [Legajo], [EMail], [Direccion], [Telefono], [FechaNacimiento], [Tipo], [PlanId]) VALUES (2, N'Ezequiel', N'Porta', NULL, N'eporta.utn@gmail.com', N'San Juan 2030', N'111-1111', CAST(N'1985-11-29T00:00:00.000' AS DateTime), 2, NULL)
INSERT [dbo].[Persona] ([ID], [Nombre], [Apellido], [Legajo], [EMail], [Direccion], [Telefono], [FechaNacimiento], [Tipo], [PlanId]) VALUES (3, N'Andres', N'Joaquin', NULL, N'andresjoaquin@gmail.com', N'Entre Rios 1105', N'222-2222', CAST(N'1985-04-20T00:00:00.000' AS DateTime), 2, NULL)
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Plan] ON 

INSERT [dbo].[Plan] ([ID], [Descripcion], [EspecialidadId]) VALUES (1, N'Plan de Estudios 1995', 1)
INSERT [dbo].[Plan] ([ID], [Descripcion], [EspecialidadId]) VALUES (2, N'Plan de Estudio 2008', 1)
INSERT [dbo].[Plan] ([ID], [Descripcion], [EspecialidadId]) VALUES (3, N'Plan de Estudio 1992', 2)
SET IDENTITY_INSERT [dbo].[Plan] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID], [NombreUsuario], [Clave], [Habilitado], [PersonaId]) VALUES (1, N'admin', N'admin', 1, 1)
INSERT [dbo].[Usuario] ([ID], [NombreUsuario], [Clave], [Habilitado], [PersonaId]) VALUES (2, N'eporta', N'123456', 1, 2)
INSERT [dbo].[Usuario] ([ID], [NombreUsuario], [Clave], [Habilitado], [PersonaId]) VALUES (3, N'ajoaquin', N'123456', 1, 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [IX_AlumnoId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_AlumnoId] ON [dbo].[AlumnoInscripcion]
(
	[AlumnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CursoId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_CursoId] ON [dbo].[AlumnoInscripcion]
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlanId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_PlanId] ON [dbo].[Comision]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ComisionId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_ComisionId] ON [dbo].[Curso]
(
	[ComisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MateriaId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_MateriaId] ON [dbo].[Curso]
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CursoId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_CursoId] ON [dbo].[DocenteCurso]
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocenteId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_DocenteId] ON [dbo].[DocenteCurso]
(
	[DocenteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlanId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_PlanId] ON [dbo].[Materia]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlanId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_PlanId] ON [dbo].[Persona]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EspecialidadId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_EspecialidadId] ON [dbo].[Plan]
(
	[EspecialidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonaId]    Script Date: 04/11/2021 10:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_PersonaId] ON [dbo].[Usuario]
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlumnoInscripcion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AlumnoInscripcion_dbo.Curso_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([ID])
GO
ALTER TABLE [dbo].[AlumnoInscripcion] CHECK CONSTRAINT [FK_dbo.AlumnoInscripcion_dbo.Curso_CursoId]
GO
ALTER TABLE [dbo].[AlumnoInscripcion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AlumnoInscripcion_dbo.Persona_AlumnoId] FOREIGN KEY([AlumnoId])
REFERENCES [dbo].[Persona] ([ID])
GO
ALTER TABLE [dbo].[AlumnoInscripcion] CHECK CONSTRAINT [FK_dbo.AlumnoInscripcion_dbo.Persona_AlumnoId]
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comision_dbo.Plan_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plan] ([ID])
GO
ALTER TABLE [dbo].[Comision] CHECK CONSTRAINT [FK_dbo.Comision_dbo.Plan_PlanId]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Curso_dbo.Comision_ComisionId] FOREIGN KEY([ComisionId])
REFERENCES [dbo].[Comision] ([ID])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_dbo.Curso_dbo.Comision_ComisionId]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Curso_dbo.Materia_MateriaId] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[Materia] ([ID])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_dbo.Curso_dbo.Materia_MateriaId]
GO
ALTER TABLE [dbo].[DocenteCurso]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DocenteCurso_dbo.Curso_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([ID])
GO
ALTER TABLE [dbo].[DocenteCurso] CHECK CONSTRAINT [FK_dbo.DocenteCurso_dbo.Curso_CursoId]
GO
ALTER TABLE [dbo].[DocenteCurso]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DocenteCurso_dbo.Persona_DocenteId] FOREIGN KEY([DocenteId])
REFERENCES [dbo].[Persona] ([ID])
GO
ALTER TABLE [dbo].[DocenteCurso] CHECK CONSTRAINT [FK_dbo.DocenteCurso_dbo.Persona_DocenteId]
GO
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Materia_dbo.Plan_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plan] ([ID])
GO
ALTER TABLE [dbo].[Materia] CHECK CONSTRAINT [FK_dbo.Materia_dbo.Plan_PlanId]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Persona_dbo.Plan_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plan] ([ID])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_dbo.Persona_dbo.Plan_PlanId]
GO
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Plan_dbo.Especialidad_EspecialidadId] FOREIGN KEY([EspecialidadId])
REFERENCES [dbo].[Especialidad] ([ID])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_dbo.Plan_dbo.Especialidad_EspecialidadId]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Usuario_dbo.Persona_PersonaId] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[Persona] ([ID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_dbo.Usuario_dbo.Persona_PersonaId]
GO
USE [master]
GO
