* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEEEEE;
}

header {
    background-color: #3C3F42;
    font-family: 'Californian FB';
    color: #FFFFFF;
    height: 5rem;
    padding: 15px;
    display: flex;
    align-items: center;
}

#form {
    display: grid;
    place-content: center;
    margin: 50px;
}

#form-group {
    padding: 25px;
    display: grid;
    place-content: center;
}
